.homepages {
  width: 100%;
  height: 100%;
  .titleboxs {
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    float: left;
    .textboxs {
      margin-top: -10rem;
      top: 50%;
      bottom: 50%;
      left: 15%;
      width: 70%;
      line-height: 4rem;
      font-family: "Pathway Extreme", sans-serif;
      height: auto;
      position: relative;
      color: #121212;
      .jobss {
        font-size: 3.5rem;
      }
      .names {
        font-size: 1.5rem;
      }
      .texts {
        font-size: 1.5rem;
      }
      .seemores {
        a {
          color: black;
        }
      }
    }
  }

  .showoffs {
    background-color: green;
    display: flex;
    width: 40%;
    height: 100%;
    float: right;
    overflow: hidden;
  }
}
