.pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s; //will be inherited
  //transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  display: block;

  &::after {
    content: "View my Work";
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
  }

  > span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }

  &:hover {
    > span {
      transform: translateY(-100%);
    }
    &::after {
      transform: translateY(0%);
    }
  }
}
