<div class="homepages">
    <div class="titleboxs">
        <div class="textboxs">
            <div class="jobss">Let's work <br/>together!</div>
            <div class="shownlaters">
                <div class="names">Hi, I'm Marius</div>
                <div class="texts">Elevating your ideas into your perfect site.</div>
                <div class="seemores"><a href="#selected">View my Work</a></div>
            </div>
            
        </div>
    </div>
    <div class="showoffs">

    </div>
</div>