.homepage {
  width: 100%;
  height: 100%;
  .titlebox {
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    float: left;
    .textbox {
      margin-top: -10rem;
      top: 50%;
      bottom: 50%;
      left: 15%;
      width: 70%;
      line-height: 4rem;
      font-family: "Pathway Extreme", sans-serif;
      height: auto;
      position: relative;
      color: #121212;
      .name {
        font-size: 1.5rem;
      }
      .jobs {
        font-size: 3.5rem;
      }
      .text {
        font-size: 1.5rem;
      }
      .seemore {
        a {
          color: black;
        }
      }
    }
    .textbox {
      margin-top: -10rem;
      top: 50%;
      bottom: 50%;
      left: 15%;
      width: 70%;
      line-height: 4rem;
      font-family: "Pathway Extreme", sans-serif;
      height: auto;
      position: relative;
      color: #121212;
      .jobs {
        font-size: 3.5rem;
      }

      .form-field {
        width: 60%;
        border: 0;
        border-bottom: 2px solid black;
        outline: 0;
        font-size: 1.3rem;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        font-family: "Pathway Extreme", sans-serif;
      }
      .form-field:focus {
        padding-bottom: 6px;
        border-width: 3px;
        border-image: linear-gradient(to right, black, grey);
        border-image-slice: 1;
      }
      .form-field:focus::placeholder {
        color: black;
        font-weight: 600;
      }
      .form-field:hover::placeholder {
        color: black;
        font-weight: 600;
      }
      .form-field {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
      .btn {
        margin-top: 5vh;
        color: black;
        border: 1px solid white;
        padding: 15px 25px;
        letter-spacing: 4px;
        margin-right: 2rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background-color: white;
        border: 1px solid black;
        font-weight: bold;
        font-family: "Pathway Extreme", sans-serif;
      }

      .btn:hover {
        background-color: rgb(59, 59, 59);
        color: white;
      }
    }
  }

  .zoomies {
    position: absolute;
    display: flex;
    left: 60%;
    top: 50%;
    bottom: 50%;
    width: 220px;
    height: 220px;
    margin-left: -7rem;
    margin-top: -5rem;
    transition: transform 1s;
  }
  .bcontainer {
    position: absolute;
    display: flex;
    .learnmore {
      background-color: #212121;
      color: white;
      border: none;
      border-radius: 50%;
      margin: 11.5px 11.5px;
      width: 200px;
      height: 200px;
      font-size: 1.5em;
      cursor: pointer;
      font-family: "Pathway Extreme", sans-serif;
    }
  }
}

#selected {
  overflow-x: hidden;
  .selected-title {
    margin-top: 5rem;
    width: 1000%;
    .selected-text {
      float: left;
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 3rem;
    }
    .dot {
      margin-top: 0.75rem;
      float: left;
      background-color: black;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.selected-show {
  margin-top: 4rem;
  width: 100%;
  height: 85vh;
  background-color: rgb(59, 59, 59);
  .comingsoon {
    position: relative;
    top: 40%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Pathway Extreme", sans-serif;
    font-size: 4rem;
  }
}
