.homepage {
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  float: left;
  .titlebox {
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    float: left;
    .title {
      font-size: 3rem;
      top: 50%;
      bottom: 50%;
      height: auto;
      text-align: center;
      margin: auto;
      position: relative;
      font-family: "Pathway Extreme", sans-serif;
      font-weight: bold;
      color: #121212;
    }
  }

  .showoff {
    background-color: slategrey;
    width: 40%;
    height: 100%;
    right: 0%;
    position: absolute;
    float: right;
  }

  .zoomies {
    position: absolute;
    display: flex;
    left: 60%;
    top: 50%;
    bottom: 50%;
    width: 220px;
    height: 220px;
    margin-left: -7rem;
    margin-top: -5rem;
    transition: transform 1s;
  }
  .bcontainer {
    position: absolute;
    display: flex;
    .animatedcircle {
      width: 220px;
      height: 220px;
      margin: -0.5px -0.5px;
      border-radius: 50%;
      border-style: dashed;
      animation-name: spin;
      animation-duration: 10000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .learnmore {
      background-color: black;
      color: white;
      border: none;
      border-radius: 50%;
      margin: 11px 11px;
      width: 200px;
      height: 200px;
      font-size: 2.3em;
      cursor: pointer;
      font-family: "Pathway Extreme", sans-serif;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zoomies:hover {
  transform: scale(1.3);
}
