<meta name="viewport" content="width=device-width,initial-scale=1"/>

<div class="homepage">
    <div class="titlebox">
        <div class="textbox">
            <div class="name">Hi, I'm Marius</div>
            <div class="shownlater">
                <div class="jobs">Web Designer<br/> Web Developer</div>
                <div class="text">Elevating your ideas into your perfect site.</div>
                <div class="seemore"><a href="#selected">View my Work</a></div>
            </div>
            
        </div>
    </div>

    <div class="showoff">

    </div>  
 
    <div class="zoomies">
        <div class="bcontainer">
            <button class="learnmore">CONTACT ME</button>
        </div>  
        <div class="bcontainer overlay">
            <div class="animatedcircle"></div>
        </div> 
    </div>
</div>
<div id="selected">
    <div class="selected-title" *ngFor="let n of numSequence(28)">
        <h3 class="selected-text">Selected Work</h3>
        <div class="dot"></div>
    </div>
</div>

<div class="selected-show"></div>


