<meta name="viewport" content="width=device-width,initial-scale=1"/>

<div class="homepage">
    <div class="titlebox">
        <div class="textbox" *ngIf="!isOnContact()">
            <div class="name">Hi, I'm Marius</div>
            <div class="shownlater">
                <div class="jobs">Web Designer<br/> Web Developer</div>
                <div class="text">Elevating your ideas into your perfect site.</div>
                <div class="seemore"><a href="#selected">View my Work</a></div>
            </div>
        </div>
        <div class="textbox contact" *ngIf="isOnContact()">
            <div class="jobs">Let's work together!</div>
            <form>
                <div class="form-group field">
                    <input type="text" class="form-field" placeholder="Your name...*" name="name" id='name' required />
                </div>
                <div class="form-group field">
                    <input type="email" class="form-field" placeholder="Email*" name="email" id='email' required />
                </div>
                <div class="form-group field">
                    <input type="text" class="form-field" placeholder="Company" name="company" id='company' />
                </div>
                <div class="form-group field">
                    <input type="text" class="form-field" placeholder="Message*" name="message" id='message' required />
                </div>
                <div class="buttoncontainer">
                    <button class="btn draw-border" type="submit">Send message</button>
                    <button class="btn" (click)="onContact()"><- Back to Home</button>
                </div>
            </form>
        </div>
    </div>

    <div class="showoff">
        <div class="scroll-parent left">
            <div class="scroll-element primary">
                <div class ="pic pic-l1"></div>
                <div class ="pic pic-l2"></div>
                <div class ="pic pic-l3"></div>
            </div>
            <div class="scroll-element secondary">
                <div class ="pic pic-l1"></div>
                <div class ="pic pic-l2"></div>
                <div class ="pic pic-l3"></div>
            </div>
        </div>
        <div class="scroll-parent mid">
            <div class="scroll-element primarytwo">
                <div class ="pic pic-m1"></div>
                <div class ="pic pic-m2"></div>
                <div class ="pic pic-m3"></div>
            </div>
            <div class="scroll-element secondarytwo">
                <div class ="pic pic-m1"></div>
                <div class ="pic pic-m2"></div>
                <div class ="pic pic-m3"></div>
            </div>
            </div>
            <div class="scroll-parent right">
            <div class="scroll-element primarythree">
                <div class ="pic pic-r1"></div>
                <div class ="pic pic-r2"></div>
                <div class ="pic pic-r3"></div>
            </div>
            <div class="scroll-element secondarythree">
                <div class ="pic pic-r1"></div>
                <div class ="pic pic-r2"></div>
                <div class ="pic pic-r3"></div>
            </div>
        </div>
    </div> 
 
    <div class="zoomies">
        <div class="bcontainer">
            <button class="learnmore" *ngIf="!isOnContact()" (click)="onContact()">CONTACT ME</button>
        </div>
    </div>
</div>
<div id="selected">
    <div class="selected-title" *ngFor="let n of numSequence(28)">
        <h3 class="selected-text">Selected Work</h3>
        <div class="dot"></div>
    </div>
</div>

<div class="selected-show"></div>


