.homepage {
  width: 100%;
  height: 100%;
  .titlebox {
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    float: left;
    .textbox {
      margin-top: -10rem;
      top: 50%;
      bottom: 50%;
      left: 15%;
      width: 70%;
      line-height: 4rem;
      font-family: "Pathway Extreme", sans-serif;
      height: auto;
      position: relative;
      color: #121212;
      .name {
        font-size: 1.5rem;
      }
      .jobs {
        font-size: 3.5rem;
      }
      .text {
        font-size: 1.5rem;
      }
      .seemore {
        a {
          color: black;
        }
      }
    }
  }

  .showoff {
    display: flex;
    width: 40%;
    height: 100%;
    float: right;
    overflow: hidden;
    .scroll-parent {
      position: relative;
      overflow: hidden;
      width: 40%;
      height: 100%;
      overflow-y: hidden;

      float: left;
      .scroll-element {
        position: relative;
        .pic {
          margin-bottom: 0.5%;
          border-top: solid;
          border-bottom: solid;
          border-color: white;
          width: 100%;
          height: 33cqb;
        }
        .pic-l1 {
          background-image: url(./../../assets/images/webdesign.jpg);
          background-position: -100px -80px;
          background-size: 180%;
        }
        .pic-l2 {
          background-image: url(./../../assets/images/artz.jpg);
          background-position: -25px -0px;
          background-size: 120%;
        }
        .pic-l3 {
          background-image: url(./../../assets/images/head.jpg);
          background-position: -230px -00px;
          background-size: 250%;
        }

        .pic-m1 {
          background-image: url(./../../assets/images/headd.jpg);
          background-position: -240px -25px;
          background-size: 250%;
        }
        .pic-m2 {
          background-image: url(./../../assets/images/coolglasses.jpg);
          background-position: -120px 0px;
          background-size: 225%;
        }
        .pic-m3 {
          background-image: url(./../../assets/images/chair.jpg);
          background-position: -270px -50px;
          background-size: 300%;
        }
        .pic-r1 {
          background-image: url(./../../assets/images/galaxy.png);
          background-position: -230px 0px;
          background-size: 300%;
        }
        .pic-r2 {
          background-image: url(./../../assets/images/skull.jpg);
          background-position: -300px -50px;
          background-size: 300%;
        }
        .pic-r3 {
          background-image: url(./../../assets/images/bvabo.jpg);
          background-position: -60px 0px;
          background-size: 150%;
        }
      }
    }
  }

  .zoomies {
    position: absolute;
    display: flex;
    left: 60%;
    top: 50%;
    bottom: 50%;
    width: 220px;
    height: 220px;
    margin-left: -7rem;
    margin-top: -5rem;
    transition: transform 1s;
  }
  .bcontainer {
    position: absolute;
    display: flex;
    .learnmore {
      background-color: #212121;
      color: white;
      border: none;
      border-radius: 50%;
      margin: 11.5px 11.5px;
      width: 200px;
      height: 200px;
      font-size: 1.5em;
      cursor: pointer;
      font-family: "Pathway Extreme", sans-serif;
    }
  }
}

#selected {
  overflow-x: hidden;
  .selected-title {
    margin-top: 5rem;
    width: 1000%;
    .selected-text {
      float: left;
      margin-left: 2rem;
      margin-right: 2rem;
      font-size: 3rem;
    }
    .dot {
      margin-top: 0.75rem;
      float: left;
      background-color: black;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.selected-show {
  margin-top: 4rem;
  width: 100%;
  height: 86%;
  background-color: #2c3e50;
}
